<%-include("partials/header")-%>

<h1>Introduction</h1>

<p> <%= homeText %> </p>

<% for(var i=0;i<entrys.length;i++){ %>
    <div class="entry">
        <h1> <%= entrys[i].title %> </h1>
        <p> <%= entrys[i].shortText %> <a href="/posts/<%= entrys[i]._id %>">Read more</a></p>
        <form action="/delete" method="post" >
            <button type="submit"><i class="delete fa-solid fa-trash"></i></button>
            <input type="hidden" name="_id" value="<%= entrys[i]._id %>">
        </form>

    </div>
<%}%>



<%-include("partials/footer")-%>

